
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  width: 100vw; 
  height: 100vh; 
  margin : 0px; 
  padding : 0px; 
  border : 0px; 
  background-color : white;
}

canvas {
  width: 100vw;
  height: 100vh;
  margin : 0px;
  padding : 0px;
  border : 0px;
  background-color : transparent;
}